/**
 * Created by WebStorm.
 * User: Zishan
 * Date: 01 Jul 2025
 * Time: 10:44 AM
 * Email: zishan.softdev@gmail.com
 */


$primary-color: #0068B5;
$primary-color-shade: #E7F3FF;
$primary-color-shade-two: #B5DAFF;
$aside-left-bgc: #FFFFFF;
$white: #FFFFFF;
$text-primary: #42526D;
$text-secondary: #243757;
$text-tertiary: #5D6B82;
$body-bgc: #F5F6F7;
$input-bgc: #F5F6F7;
$inactive-color: #8D8D8D;
$default-btn-bgc: #F5F6F7;
$default-btn-color: #262626;
$green-color: #00AF46;
$green-shade-color: #EDFFF4;
$red-color: #DA1E28;
$red-shade-color: #FFF5F6;
$pending-color: #FFA841;
