/**
 * Created by WebStorm.
 * User: Zishan
 * Date: 01 Jul 2025
 * Time: 10:38 AM
 * Email: zishan.softdev@gmail.com
 */

@use '../../assets/scss/colors' as *;

.main_container{
  height: 100%;
  width: 100%;
  background-color: $primary-color-shade-two;

  .child_one{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child_two{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}